body {
  background-color: #258dc1;
  color: white;
  font-family: 'Avenir LT W01 55 Roman';
  margin: 0;
  padding: 0;
}

.number {
  font-family: 'Futura-latin';
}

.appImage {
  background-image: url("http://webassets3.tado.com/img/content/home/tadocooling_iphone_revealing.png");
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.pledged {
  margin-top: 50px;
  position: relative;
}

.pledged .header {
  position: absolute;
  top: -30px;
  font-size: 30px;
}

.pledged .value .currency {
  font-size: 80px;
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.pledged .value .number{
  font-size: 150px;
}

.pledged .value .backers-container,
.pledged .value .backers-container .number{
  font-size: 30px;
}

.pledged .value .backers-container {
  position: absolute;
  right: 0;
  width: 300px;
  text-align: right;
}