@font-face {
   font-family: 'Avenir LT W01 35 Light';
   src: url('35-light/avenirltstdlight.eot');
   src:
      /*url('35-light/avenirltstdlight.eot?#iefix') format('embedded-opentype'),*/
        url('35-light/avenirltstdlight.woff') format('woff'),
        url('35-light/avenirltstdlight.ttf') format('truetype');
        /*url('35-light/avenirltstdlight.svg#avenirltstdlight') format('svg');*/
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir LT W01 55 Roman';
   src: url('55-roman/avenirltstdroman.eot');
   src:
      /*url('55-roman/avenirltstdroman.eot?#iefix') format('embedded-opentype'),*/
        url('55-roman/avenirltstdroman.woff') format('woff'),
        url('55-roman/avenirltstdroman.ttf') format('truetype');
        /*url('55-roman/avenirltstdroman.svg#avenirltstdroman') format('svg');*/
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir LT W01 65 Medium';
   src: url('65-medium/avenirltstdmedium.eot');
   src:
      /*url('65-medium/avenirltstdmedium.eot?#iefix') format('embedded-opentype'),*/
        url('65-medium/avenirltstdmedium.woff') format('woff'),
        url('65-medium/avenirltstdmedium.ttf') format('truetype');
        /*url('65-medium/avenirltstdmedium.svg#avenirltstdmedium') format('svg');*/
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir LT W01 85 Heavy';
   src: url('85-heavy/avenirltstdheavy.eot');
   src:
      /*url('85-heavy/avenirltstdheavy.eot?#iefix') format('embedded-opentype'),*/
        url('85-heavy/avenirltstdheavy.woff') format('woff'),
        url('85-heavy/avenirltstdheavy.ttf') format('truetype');
        /*url('85-heavy/avenirltstdheavy.svg#avenirltstdheavy') format('svg');*/
   font-weight: normal;
   font-style: normal;
}
